@charset 'utf-8';
@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Regular.ttf);
}

body,
html {
    width: 100%;
    height: 100%;
}
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fixed {
    position: fixed !important;
}
.hidden {
    display: none;
}

:root {
    --main-color: #D8042C;
}

.anim-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.color-text {
    /*color: #D8042C;*/
    color: var(--main-color);
}

.up-and-down {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.up-and-down-top {
    position: absolute;
    top: -50%;
    left: 50%;
    width: 200%;
    height: 100%;
    transform: translateX(-50%) rotate(-20deg);
    transform-origin: bottom center;
    background-color: #fff;
    border-bottom: 1rem solid #D8042C;
}
.title {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 3rem;
    font-weight: normal;
    transform: translateX(-50%);
    letter-spacing: 0.1rem;
    vertical-align: bottom;
}
.up-and-down-bottom {
    position: absolute;
    bottom: -50%;
    left: 50%;
    width: 200%;
    height: 100%;
    transform: translateX(-50%) rotate(-20deg);
    transform-origin: top center;
    background-color: #fff;
    border-top: 1rem solid rgba(0,0,0,0.87);
}
.sub-title {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 3rem;
    font-weight: normal;
    transform: translateX(-50%);
    letter-spacing: 0.5rem;
}

.left-and-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.left-and-right-left {
    position: absolute;
    top: 50%;
    left: -50%;
    width: 100%;
    height: 200%;
    transform: translateY(-50%) rotate(20deg);
    transform-origin: center right;
    background-color: #BBD3E6;
}
.left-and-right-right {
    position: absolute;
    top: 50%;
    right: -50%;
    width: 100%;
    height: 200%;
    transform: translateY(-50%) rotate(20deg);
    transform-origin: center left;
    background-color: #51546D;
}


.main-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-message {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-family: 'Montserrat';
    border: 0.5rem solid rgba(0,0,0,0.87);
    padding: 4rem;
}

.main-content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300%;
    overflow: scroll;
}
.main-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}
.content-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; /* for no-flexbox browsers */

    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.5rem;
    text-align: center;
}
.content-title:before,
.content-title:after {
    border-top: 2px solid;
    content: "";
    display: inline; /* for IE */
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex: 1;
    flex-grow: 1;
}
.content-title:before {
    margin-right: 0.5em;
}
.content-title:after {
    margin-left: 0.5em;
}

.profile {
    margin-top: 5rem;
    /*background: linear-gradient(90deg, #fff 50%,#ffc0cb 50%);*/
}
.profile-icon {
    width: 20%;
    min-width: 200px;
    margin: 2rem auto 0;
    border-radius: 50%;
    overflow: hidden;
}
.profile-icon img {
    display: block;
    width: 100%;
}

.profile-detail {
    width: 70%;
    margin: 0 auto;
}
.profile-detail-title {
    padding-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0,0,0,0.87);
}
.profile-detail-content {
    padding: 0 2rem;
}
.profile-name {
    font-size: 2rem;
    text-align: center;
}
.phoneme {
    margin-left: 2rem;
    font-size: 1.5rem;
}

.graph-container {
    width: 60%;
    margin: 0 auto;
}

.profile-introduction {
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;
}
.profile-introduction-paragraph {
    padding: 0.5rem;
}

.profile-part-time-job li {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0;
}
.part-time-job-date {
    color: #888;
}

.portfolio-container {
    padding-top: 4rem;
}
.portfolio-container > ul {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-content {
    position: relative;
    top: 0;
    left: 0;
    width: 33.333%;
    height: 25vw;
    background-color: #888;
    list-style: none;
}
.portfolio-content-img {
    width: 100%;
    height: 100%;
    text-align: center;
    filter: grayscale(100%);
    transition: filter 0.5s;
}
.portfolio-content-img img {
    display: inline-block;
    height: 100%;
}


