@charset 'utf-8';
@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Regular.ttf);
}

body,
html {
    width: 100%;
    height: 100%;
}
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

.fixed {
    position: fixed !important;
}
.hidden {
    display: none;
}

:root {
    --main-color: #D8042C;
    --black: rgba(0,0,0,0.87);
}



@media screen and (min-width: 997px) {
    .anim-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }
    .color-text {
        /*color: #D8042C;*/
        color: var(--main-color);
    }

    .hide-portfolio-up-and-down,
    .up-and-down {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .hide-portfolio-up-and-down-top,
    .up-and-down-top {
        position: absolute;
        top: -50%;
        left: 50%;
        width: 200%;
        height: 100%;
        transform: translateX(-50%) rotate(-20deg);
        transform-origin: bottom center;
        background-color: #fff;
        border-bottom: 1rem solid #D8042C;
    }
    .title {
        position: absolute;
        bottom: 0;
        left: 50%;
        font-size: 3rem;
        font-weight: normal;
        transform: translateX(-50%);
        letter-spacing: 0.1rem;
        vertical-align: bottom;
    }
    .hide-portfolio-up-and-down-bottom,
    .up-and-down-bottom {
        position: absolute;
        bottom: -50%;
        left: 50%;
        width: 200%;
        height: 100%;
        transform: translateX(-50%) rotate(-20deg);
        transform-origin: top center;
        background-color: #fff;
        border-top: 1rem solid var(--black);
    }
    .sub-title {
        position: absolute;
        top: 0;
        left: 50%;
        font-size: 3rem;
        font-weight: normal;
        transform: translateX(-50%);
        letter-spacing: 0.5rem;
    }

    .hide-portfolio-left-and-right,
    .left-and-right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .hide-portfolio-left-and-right-left,
    .left-and-right-left {
        position: absolute;
        top: 50%;
        left: -50%;
        width: 100%;
        height: 200%;
        transform: translateY(-50%) rotate(20deg);
        transform-origin: center right;
        background-color: #BBD3E6;
    }
    .hide-portfolio-left-and-right-right,
    .left-and-right-right {
        position: absolute;
        top: 50%;
        right: -50%;
        width: 100%;
        height: 200%;
        transform: translateY(-50%) rotate(20deg);
        transform-origin: center left;
        background-color: #51546D;
    }

    .main-container {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .main-message {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 60%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 3rem;
        font-family: 'Montserrat';
        border: 0.5rem solid var(--black);
        padding: 4rem;
    }

    .main-content-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 250%;
        overflow: scroll;
    }
    .main-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
    }
    .content-title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center; /* for no-flexbox browsers */

        font-size: 2rem;
        font-weight: normal;
        letter-spacing: 0.5rem;
        text-align: center;
        color: #51546D;
    }
    .content-title:before,
    .content-title:after {
        border-top: 2px solid;
        content: "";
        display: inline; /* for IE */
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex: 1;
        flex-grow: 1;
    }
    .content-title:before {
        margin-right: 0.5em;
    }
    .content-title:after {
        margin-left: 0.5em;
    }

    .profile {
        margin-top: 5rem;
        /*background: linear-gradient(90deg, #fff 50%,#ffc0cb 50%);*/
    }
    .profile-icon {
        width: 20%;
        min-width: 200px;
        margin: 2rem auto 0;
        border-radius: 50%;
        overflow: hidden;
    }
    .profile-icon img {
        display: block;
        width: 100%;
    }

    .profile-detail {
        width: 70%;
        margin: 0 auto;
    }
    .profile-detail-title {
        padding-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        color: #51546D;
        border-bottom: 1px solid #51546D;
    }
    .profile-detail-content {
        padding: 0 2rem;
    }
    .profile-name {
        font-size: 2rem;
        text-align: center;
    }
    .phoneme {
        margin-left: 2rem;
        font-size: 1.5rem;
    }

    .skill-logo-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    .skill-logo-container img {
        display: block;
        width: 25%;
        padding: 0 2rem;
    }
    .graph-container {
        width: 60%;
        margin: 0 auto;
    }

    .profile-introduction {
        padding: 1rem 0;
        text-align: center;
        font-size: 1rem;
    }
    .profile-introduction-paragraph {
        padding: 0.5rem;
    }

    .profile-part-time-job li {
        display: flex;
        justify-content: space-between;
        padding: 0.2rem 0;
    }
    .part-time-job-date {
        color: #888;
    }
    .contact-as .sns-container {
        display: flex;
        justify-content: center;
    }
    .contact-as .sns-container li {
        list-style: none;
        font-size: 1.5rem;
    }
    .contact-as .sns-container li+li {
        margin-left: 3rem;
    }
    .contact-as .sns-container li > a {
        text-decoration: none;
        color: #51546D;
    }
    .contact-as .sns-container li > a > i {
        margin-right: 0.5rem;
    }
    .contact-as .sns-container li > a.twitter:hover {
        color: #00aced;
    }
    .contact-as .sns-container li > a.facebook:hover {
        color: #305097;
    }
    .contact-as .sns-container li > a.github:hover {
        color: #24292e;
    }
    .contact-as .sns-container li > a.wantedly:hover {
        color: #00a4bb;
    }

    .portfolio-container {
        padding-top: 4rem;
    }
    .portfolio-content-container {
        padding: 2rem 0 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /*background-color: #fff;*/
    }
    .portfolio-content-container::before{
      content:"";
      display: block;
      width: 32%;
      order: 1;
    }
    .portfolio-content-container::after{
      content:"";
      display: block;
      width: 32%;
    }
    .portfolio-content {
        position: relative;
        top: 0;
        left: 0;
        list-style: none;
        cursor: pointer;
        overflow: hidden;
    }
    .portfolio-content {
        width: 32%;
        height: 25vw;
        margin-bottom: 1rem;
        cursor: pointer;
        border: 0.5rem solid #51546D;
    }
    .sp-only {
        display: none;
    }

    .portfolio-content-title-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
    .portfolio-content-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #fff;
        font-size: 1.2rem;
        white-space: nowrap;
    }
    .portfolio-content-title h3,
    .portfolio-content-title h4 {
        font-weight: normal;
        text-align: center;
    }
    .portfolio-content-title h3 {
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
    }
    .portfolio-content-title h4 {
        font-size: 0.8rem;
    }
    .show-detail-button {
        display: block;
        margin: 1rem auto 0;
        padding: 0.5rem 1rem;
        color: #fff;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        text-indent: 0.1rem;
        outline: none;
        cursor: pointer;
        border: 0;
        background-color: #D8042C;
    }

    .portfolio-content-img {
        width: 100%;
        height: 100%;
        text-align: center;
        /*filter: grayscale(100%);*/
        /*transition: filter 0.5s;*/
    }
    .portfolio-content-img img {
        display: inline-block;
        height: 100%;
    }

    .hide-portfolio-content-anim-container-shadow {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
        cursor: pointer;
        z-index: 5000;
    }
    .hide-portfolio-content-anim-container {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 0;
        /*height: 0;*/
        transform: translateX(-50%) translateY(-50%);
        overflow: hidden;
        border: 1rem solid var(--black);
        background-color: #fff;
        z-index: 9999;
    }

    .hide-portfolio-up-and-down-top {
        background-color: #51546D;
        border: 0;
    }
    .hide-portfolio-up-and-down-bottom {
        background-color: #BBD3E6;
        border: 0;
    }
    .hide-portfolio-left-and-right-left {
        background-color: #D8042C;
        transform: translateY(-50%) rotate(-20deg);
    }
    .hide-portfolio-left-and-right-right {
        background-color: #424242;
        transform: translateY(-50%) rotate(-20deg);
    }


    .portfolio-content-detail-top {
        display: flex;
    }
    .portfolio-content-detail-main-view {
        width: 60%;
        height: 35vw;
        /*overflow: hidden;*/
    }
    .portfolio-content-detail-main-view img,
    .portfolio-content-detail-main-view video {
        display: block;
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 1rem;
    }
    .portfolio-content-detail-right {
        width: 40%;
        padding: 2rem;
    }
    .portfolio-content-detail-title {
        font-size: 1.3rem;
        font-weight: normal;
        letter-spacing: 0.1rem;
        border-bottom: 1px solid var(--black);
        margin-bottom: 1rem;
    }
    .portfolio-content-detail-article {
    }

    .github-link {
        padding-top: 3rem;
    }
    .github-link a {
        color: var(--black);
    }
    .github-link-title {
        font-size: 1.2rem;
        font-weight: normal;
        padding-bottom: 0.5rem;
    }
    .github-link-title i {
        margin-right: 0.5rem;
    }

    .portfolio-content-detail-hide-button {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        padding: 0.8rem 1.1rem;
        font-size: 1.5rem;
        outline: none;
        cursor: pointer;
        border: 0;
        color: #fff;
        background-color: var(--black);
        transition: background-color 0.3s;
    }
    .portfolio-content-detail-hide-button:hover {
        background-color: #D8042C;
    }

    .portfolio-content-detail-bottom {
    }
    .gallery-container {
        display: flex;
        /*flex-wrap: wrap;*/
        width: 100%;
        height: 12vw;
    }
    .gallery-container li {
        /*width: 20%;*/
        height: 100%;
        list-style: none;
        cursor: pointer;
    }
    .gallery-container li img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .gallery-container li video {
        height: 100%;
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 3rem 0;
        background-color: #51546D;
    }
    .footer > p {
        color: #FFF;
        text-align: center;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 996px) {
    .anim-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }
    .color-text {
        /*color: #D8042C;*/
        color: var(--main-color);
    }

    .hide-portfolio-up-and-down,
    .up-and-down {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .hide-portfolio-up-and-down-top,
    .up-and-down-top {
        position: absolute;
        top: -50%;
        left: 50%;
        width: 200%;
        height: 100%;
        transform: translateX(-50%) rotate(-20deg);
        transform-origin: bottom center;
        background-color: #fff;
        border-bottom: 1rem solid #D8042C;
    }
    .title {
        position: absolute;
        bottom: 0;
        left: 50%;
        font-size: 2rem;
        font-weight: normal;
        transform: translateX(-50%);
        letter-spacing: 0.1rem;
        vertical-align: bottom;
    }
    .hide-portfolio-up-and-down-bottom,
    .up-and-down-bottom {
        position: absolute;
        bottom: -50%;
        left: 50%;
        width: 200%;
        height: 100%;
        transform: translateX(-50%) rotate(-20deg);
        transform-origin: top center;
        background-color: #fff;
        border-top: 1rem solid var(--black);
    }
    .sub-title {
        position: absolute;
        top: 0;
        left: 50%;
        font-size: 2rem;
        font-weight: normal;
        transform: translateX(-50%);
        letter-spacing: 0.5rem;
    }

    .hide-portfolio-left-and-right,
    .left-and-right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .hide-portfolio-left-and-right-left,
    .left-and-right-left {
        position: absolute;
        top: 50%;
        left: -50%;
        width: 100%;
        height: 200%;
        transform: translateY(-50%) rotate(20deg);
        transform-origin: center right;
        background-color: #BBD3E6;
    }
    .hide-portfolio-left-and-right-right,
    .left-and-right-right {
        position: absolute;
        top: 50%;
        right: -50%;
        width: 100%;
        height: 200%;
        transform: translateY(-50%) rotate(20deg);
        transform-origin: center left;
        background-color: #51546D;
    }

    .main-container {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .main-message {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 2rem;
        font-family: 'Montserrat';
        border: 0.5rem solid var(--black);
        padding: 6rem 2rem;
    }

    .main-content-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 250%;
        overflow: scroll;
    }
    .main-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
    }
    .content-title {
        font-size: 2rem;
        font-weight: normal;
        letter-spacing: 0.5rem;
        text-align: left;
        color: #51546D;
        border-bottom: 2px solid #51546D;
        margin: 0 1rem;
    }
    .content-title > .phoneme {
        display: none;
    }


    /* profile */

    .profile {
        margin-top: 5rem;
    }
    .profile-icon {
        width: 20%;
        min-width: 200px;
        margin: 2rem auto 0;
        border-radius: 50%;
        overflow: hidden;
    }
    .profile-icon img {
        display: block;
        width: 100%;
    }

    .profile-detail {
        padding: 1rem;
    }
    .profile-detail-title {
        padding-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        color: #51546D;
        border-bottom: 1px solid #51546D;
    }
    .profile-detail-content {
        padding: 0 2rem;
    }
    .profile-name {
        font-size: 1.5rem;
        text-align: center;
    }
    .profile-name .phoneme {
        font-size: 1.5rem;
    }


    .skill-logo-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    .skill-logo-container img {
        display: block;
        width: 50%;
        padding: 0 2rem;
    }
    .graph-container {
        width: 60%;
        margin: 0 auto;
    }

    .profile-introduction {
        padding: 1rem 0;
        text-align: center;
        font-size: 1rem;
    }
    .profile-introduction-paragraph {
        padding: 0.5rem;
    }

    .profile-part-time-job li {
        display: flex;
        justify-content: space-between;
        padding: 0.2rem 0;
    }
    .part-time-job-date {
        color: #888;
    }
    .contact-as .sns-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .contact-as .sns-container li {
        list-style: none;
        font-size: 1.5rem;
        padding: 1rem 1rem;
    }
    .contact-as .sns-container li > a {
        text-decoration: none;
        color: #51546D;
    }
    .contact-as .sns-container li > a > i {
        margin-right: 0.5rem;
    }
    .contact-as .sns-container li > a.twitter {
        color: #00aced;
    }
    .contact-as .sns-container li > a.facebook {
        color: #305097;
    }
    .contact-as .sns-container li > a.github {
        color: #24292e;
    }
    .contact-as .sns-container li > a.wantedly {
        color: #00a4bb;
    }

    .portfolio-container {
        padding-top: 4rem;
    }
    .portfolio-content-container {
        padding: 2rem 1rem 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /*background-color: #fff;*/
    }
    .portfolio-content-container::before{
      content:"";
      display: block;
      width: 32%;
      order: 1;
    }
    .portfolio-content-container::after{
      content:"";
      display: block;
      width: 32%;
    }
    .portfolio-content {
        position: relative;
        top: 0;
        left: 0;
        list-style: none;
        cursor: pointer;
        overflow: hidden;
    }

    /*@media screen and (max-width: 996px) {
        .portfolio-content {
            width: 50%;
            height: 40vw;
        }
    }*/
    .portfolio-content {
        width: 100%;
        height: 76vw;
        margin-bottom: 1rem;
        cursor: pointer;
        border: 0.5rem solid #51546D;
    }
    .portfolio-content-img {
        transform: scale(1.1);
    }
    .portfolio-content-title-container {
        display: block;
    }

    .portfolio-content-title-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
    .portfolio-content-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #fff;
        font-size: 1.2rem;
        white-space: nowrap;
    }
    .portfolio-content-title h3,
    .portfolio-content-title h4 {
        font-weight: normal;
        text-align: center;
    }
    .portfolio-content-title h3 {
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
    }
    .portfolio-content-title h4 {
        font-size: 0.8rem;
    }
    .show-detail-button {
        display: block;
        margin: 1rem auto 0;
        padding: 0.5rem 1rem;
        color: #fff;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        text-indent: 0.1rem;
        outline: none;
        cursor: pointer;
        border: 0;
        background-color: #D8042C;
    }

    .portfolio-content-img {
        width: 100%;
        height: 100%;
        text-align: center;
        /*filter: grayscale(100%);*/
        /*transition: filter 0.5s;*/
    }
    .portfolio-content-img img {
        display: inline-block;
        height: 100%;
    }

    .hide-portfolio-content-anim-container-shadow {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
        cursor: pointer;
    }
    .hide-portfolio-content-anim-container {
        position: fixed;
        top: 0;
        left: 50%;
        width: 0;
        /*height: 0;*/
        transform: translateX(-50%);
        overflow: scroll;
        border: 0.5rem solid var(--black);
        background-color: #fff;
        z-index: 9999;
    }

    .hide-portfolio-up-and-down-top {
        background-color: #51546D;
        border: 0;
    }
    .hide-portfolio-up-and-down-bottom {
        background-color: #BBD3E6;
        border: 0;
    }
    .hide-portfolio-left-and-right-left {
        background-color: #D8042C;
        transform: translateY(-50%) rotate(-20deg);
    }
    .hide-portfolio-left-and-right-right {
        background-color: #424242;
        transform: translateY(-50%) rotate(-20deg);
    }


    .portfolio-content-detail-top {
        /*display: flex;*/
    }
    .portfolio-content-detail-main-view {
        width: 100%;
        height: 40vh;
        /*overflow: hidden;*/
    }
    .portfolio-content-detail-main-view img,
    .portfolio-content-detail-main-view video {
        display: block;
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 1rem;
    }
    .portfolio-content-detail-right {
        width: 100%;
        padding: 1rem;
    }
    .portfolio-content-detail-title {
        font-size: 1.3rem;
        font-weight: normal;
        letter-spacing: 0.1rem;
        border-bottom: 1px solid var(--black);
        margin-bottom: 1rem;
    }
    .portfolio-content-detail-article {
    }

    .github-link {
        padding-top: 3rem;
    }
    .github-link a {
        color: var(--black);
    }
    .github-link-title {
        font-size: 1.2rem;
        font-weight: normal;
        padding-bottom: 0.5rem;
    }
    .github-link-title i {
        margin-right: 0.5rem;
    }

    .portfolio-content-detail-hide-button {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        padding: 0.8rem 1.1rem;
        font-size: 1.5rem;
        outline: none;
        cursor: pointer;
        border: 0;
        color: #fff;
        background-color: var(--black);
        transition: background-color 0.3s;
    }
    .portfolio-content-detail-hide-button:hover {
        background-color: #D8042C;
    }

    .portfolio-content-detail-bottom {
    }
    .gallery-container {
        display: flex;
        flex-wrap: wrap;
        /*flex-wrap: wrap;*/
        width: 100%;
        /*height: 12vw;*/
    }
    .gallery-container li {
        width: 50%;
        max-height: 35vw;
        overflow: hidden;
        list-style: none;
        cursor: pointer;
    }
    .gallery-container li img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        /*height: 100%;*/
    }
    .gallery-container li video {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        /*height: 100%;*/
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 3rem 0;
        background-color: #51546D;
    }
    .footer > p {
        color: #FFF;
        text-align: center;
        font-size: 1.1rem;
    }
}




